/* Navbar.css */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:var(--white);
  color:var(--dark-background);
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.toggle {
  cursor: pointer;
}
.left-side-container {
  display: flex;
  align-items: center;
  width: 80%;
}

.left-side-container .company-name {
  padding-left: 2%;
}

.right-side-container {
  display: flex;
  align-items: center;
  margin-left: auto; /* Align content to the extreme right */
}


