.sidebar-container{
  flex-basis: var(--sidebar-width);
  background-color: var(--dark-background);
}
.nav-links-ul {
  padding: 30px 0 0 0;
}
.nav-links-ul li {
  list-style: none;
  line-height: 50px;
}

.nav-links-ul li:hover {
  background-color: gray;
}
.nav-links-ul li svg{
  height: 20px;
  min-width: 60px;
  text-align: center;
  color: var(--white-color);
}

.nav-links-ul li a {
  text-decoration: none;
  color: var(--white-color);
}