.App{
  position: relative;
  width: 100%;
}
.full-height {
  height: 100vh;
}
.main-section{
  height: calc(100vh - 50px);
  display: flex;
  overflow: hidden; /* Ensure the sidebar and container are not affected by overflow */
}

.main-container {
   flex: 1;
  margin-left: 250px; /* Adjust margin to accommodate the width of the sidebar */
  /* Additional styles for the container */
  z-index: 0; /* Container z-index */
  transition: 1.5s;
}

.minimized-navbar {
  margin-left: 80px;
  transition: 1.5s;
}

/* Mobile view */
@media (max-width: 991px) {
.main-container {
  margin-left: 0px; /* Adjust margin to accommodate the width of the sidebar */
}
.minimized-navbar {
  margin-left: 180px;
  transition: 1.5s;
}
}