@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Dongle:wght@300;400;700&family=Nova+Round&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aldrich','Ubuntu', sans-serif;
  font-size: 18px;
}

:root{
  --blue: #287bff;
  --grey: #f5f5f5;
  --dark-background: #11101d;
  --white-color: #ffffff;
  --mobile-font-size: 12px;
  --background-color : #efeeee;
  --nav-bar-height: 40px;
  --sidebar-width: 200px;
  --transition-effect: all 0.5s ease;
}

body {
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
}

html body {
  background-color: var(--background-color);
}