html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
}

thead {
  background: lightgray;
}

tr {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
  text-align: left;
}

td {
  padding: 6px;
}

.table-container {
  margin: 1rem auto;
}

.app {
  margin: 1rem auto;
  text-align: center;
}

.table-footer-details {
  display: flex;
  justify-content: space-between;
}